<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="files" id="imageUpload" onchange="loadfile(event)" accept=".png, .jpg, .jpeg"><br>
        
        Select : <input type="radio" name="select_plant" id="fruit" value="fruit">
        <label for="fruit">Fruit</label>
        <input type="radio" name="select_plant" id="veg" value="vegetable">
        <label for="veg">Vegetable</label> <br>
        <button type="submit">proceed</button><br>
        <img id="output">
    </form>
    <script>
        var loadfile=function(event){
            var image=document.getElementById('output');
            image.src=URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <h2>{{result}}</h2>
</body>
</html>
